<div class="section text-center">

  <h1>Add Job</h1>
  <h4>Create your account in easy steps with less information</h4>
</div>

<div class="example-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Job Title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Job Type">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Required Skills">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Job Description">
  </mat-form-field>
  <button mat-button type="submit" class="btn btn-lg  btn-block btn-signin">Submit</button>
</div>
