.section {
  margin-top: 0px;
  padding-top: 15px;
  h4 {
   margin-top: 30px;
  }
}
 button {
    border-radius: 30px;
    padding: 8px;
    color: white;
    background-color: #2fa1da;
  }
 button:hover {
    background-color: #2fa1da;
    color: white;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
  }