<div class="section text-center">

  <h2>Add Course</h2>
  <h4>Create your account in easy steps with less information</h4>
</div>

<div class="example-container">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Course Title">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Course Type">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Required Skills">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput   matTextareaAutosize matAutosizeMinRows="6" placeholder="Course Description">
  </mat-form-field>
  <button mat-button type="submit" class="btn btn-lg btn-block btn-signin">Submit</button>
</div>
