 .section {
   margin-top: 60px;
 }

 .info {
   margin-top: 30px;
   h4{
     color:darkgrey;
     margin-top: 30px;
   }
   span{
     font-size:16px;
     color:#30a1da;
   }
 }
  .img-responsive{
  width:330px;
  height: 200px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
}

