<div class="section text-center">
  <h1>Jobs Info</h1>
</div>
<div class="info">

  <h4>Industry : <span>IT Industry</span></h4>
  <h4>Location : <span>Hyderabad</span></h4>
  <h4>Website : <span>WWW.DigitalLync.com</span></h4>
  <h4>Company Name : <span>Digital Lync</span></h4>
  <h4>Position : <span>UI Developer</span></h4>
  <h4>Skills : <span>HTML,CSS,JAVASCRIPT,Angular 2/4</span></h4>
  <h4>Status : <span>Applied</span></h4>
</div>

<div class="text-center">
  <img src="./assets/image/student.png" class="img-responsive">
</div>
