<div class="section text-center">

  <h1>Employer Registration</h1>
  <h4>Create your account in easy steps with less<br>information.</h4>


</div>



<form class="example-form" [formGroup]="employerForm" name="employerForm">


  <div class="form-group">
    <mat-form-field class="example-half-width">
      <input matInput placeholder="First Name" formControlName="firstName" [formControl]="firstName" [(ngModel)]="data.firstName"  required>

      <mat-error *ngIf="employerForm.get('firstName').touched && employerForm.get('firstName').invalid">


        <mat-error *ngIf="firstName.hasError('required')">
          First Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="firstName.hasError('minLength')">
          Minimum 3 charcters required
        </mat-error>
        <mat-error *ngIf="firstName.hasError('maxLength')">
          Maximum 20 charcters required
        </mat-error>

      </mat-error>
    </mat-form-field>

  </div>


  <div class="form-group">
    <mat-form-field class="example-half-width" style="margin-left:23px">
      <input matInput placeholder="Last Name" formControlName="lastName" [formControl]="lastName" [(ngModel)]="data.lastName" required>

      <mat-error *ngIf="employerForm.get('lastName').touched && employerForm.get('lastName').invalid">

        <mat-error *ngIf="lastName.hasError('minLength')">
          Minimum 3 charcters required
        </mat-error>
        <mat-error *ngIf="lastName.hasError('maxLength')">
          Maximum 20 charcters required
        </mat-error>
        <mat-error *ngIf="lastName.hasError('required')">
          Last Name is <strong>required</strong>
        </mat-error>

      </mat-error>

    </mat-form-field>
  </div>


  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Id" formControlName="userName" [formControl]="userName" [(ngModel)]="data.userName" required>

      <mat-error *ngIf="employerForm.get('userName').touched && employerForm.get('userName').invalid">


        <mat-error *ngIf="userName.hasError('required')">
          User Id is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userName.hasError('minLength')">
          Minimum 3 charcters required
        </mat-error>
        <mat-error *ngIf="userName.hasError('maxLength')">
          Maximum 20 charcters required
        </mat-error>

      </mat-error>
    </mat-form-field>

  </div>



  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Name or Email" formControlName="primaryEmail" [formControl]="primaryEmail" [(ngModel)]="data.primaryEmail" required>

      <mat-error *ngIf="employerForm.get('primaryEmail').touched && employerForm.get('primaryEmail').invalid">

        <mat-error *ngIf="primaryEmail.hasError('pattern')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="primaryEmail.hasError('required')">
          Email or User Id is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="primaryEmail.hasError('minLength')">
          Minimum 12 charcters required
        </mat-error>
        <mat-error *ngIf="primaryEmail.hasError('maxLength')">
          Maximum 30 charcters required
        </mat-error>

      </mat-error>
    </mat-form-field>

  </div>
  <div class="form-group">
    <!-- <a routerLink="./employerPersonal"><button type="submit" [disabled]="employerForm.invalid">></button></a> -->
    <button  routerLink="./employerPersonal" mat-fab color="primary" [disabled]="employerForm.invalid" (click)="employerbasic()"><i class="material-icons">keyboard_arrow_right</i></button>
  </div>
</form>

 <div class="text-center">
    <img src="./assets/image/employer.png" class="img-responsive">
  </div>

<router-outlet></router-outlet>
 

