<div class="section text-center">

  <h1>Forgot Password?</h1>
  <h4 style="font-size:17px">No problem! Enter your email with instruction <br> to reset your password has been sent to your<br> email id.</h4>

</div>
<div class="text-center" style="width:200px;margin:auto;">
  <img src="./assets/image/forgotpasswordImage.png" class="img-responsive">
</div>

<form class="example-form" [formGroup]="forgotPasswordForm" name="forgotPasswordForm">


  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Name or Email" formControlName="emailFormControl" [formControl]="emailFormControl" [(ngModel)]="data.forgotPassword">

      <mat-error *ngIf="forgotPasswordForm.get('emailFormControl').touched && forgotPasswordForm.get('emailFormControl').invalid">


        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email or UserName is <strong> required</strong>
        </mat-error>


      </mat-error>
    </mat-form-field>

  </div>


  <div class="form-group">
    <button mat-button type="submit" (click)="openSnackBar()" class="btn btn-lg btn-block btn-signin" [disabled]="forgotPasswordForm.invalid"
      (click)="sendrequest()">Send Request</button>
  </div>


</form>
<div class="paragraph text-center" style="border-radius: 27px;margin-left: 22px; padding: 0px; width: 300px;background-color: #e22b2b;color:aliceblue">
  {{errorMessage}}
</div>


<div class="text-center">
  <img src="./assets/image/college.png" class="img-responsive">
</div>
