<div class="section text-center">

  <h1>Set Password</h1>
  <h4>No problem! Enter your email with instruction <br> to reset your password has been sent to your<br> email id.</h4>

</div>
<div class="text-center">
  <img src="./assets/image/setPasswordImage.png" class="img-responsive">
</div>

<form class="example-form" [formGroup]="setPasswordForm" name="setPasswordForm" (ngSubmit)="onSubmit(setPasswordForm)">


  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Password" [formControl]="passwordFormControl">
      <mat-error *ngIf="setPasswordForm.get('passwordFormControl').touched && setPasswordForm.get('passwordFormControl').invalid">
        {{getErrorMessage()}}
      </mat-error>

    </mat-form-field>
  </div>


  <div class="form-group">
    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPasswordFormControl" [formControl]="confirmPasswordFormControl">

      <mat-error *ngIf="setPasswordForm.get('confirmPasswordFormControl').touched && setPasswordForm.get('confirmPasswordFormControl').value !== setPasswordForm.get('passwordFormControl').value">

        password does not match

      </mat-error>

    </mat-form-field>
  </div>

  <div class="form-group">
    <button mat-button type="submit" class="btn btn-lg btn-block btn-signin" [disabled]="setPasswordForm.invalid">Confirm</button>
  </div>
</form>
<div class="text-center">
  <img src="./assets/image/college.png" class="img-responsive">
</div>
