<div class="text-center">
  <img src="./assets/image/girl.jpg" class="img-responsive">
</div>
<div class="container">
  <i class="fa fa-user-circle-o" style="color:#2fa1da;margin-left:-10px; border:3px solid #dee0e2;padding: 12px;font-size: 25px;background-color: white;border-radius: 50%;"></i>
  <i class="fa fa-arrow-circle-o-right arrow" style="color:#2fa1da;margin-left:189px; border:3px solid #dee0e2;padding: 12px;font-size: 25px;background-color: white;border-radius: 50%;"></i>
</div>
<div class="details">
<h3>Renuka Amujuru</h3>
<h4 style="color:gray;">Mean Stack Developer</h4>
</div>
<app-userprofiledetails></app-userprofiledetails>